.App {
  text-align: center;
  font-size: 1.4em;
}

h2{
  display: inline-block;
}

label{
  margin: 1.5em 1em;
}
button{
  margin: 20px;
  padding: 4px 10px;
}
form{
  border-top: 1px solid #ccc;
  padding: 10px 0;
}